<div class="container">

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Marque en tapant</label>
            <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control">
        </div>
    </form>

    <!--    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Marque</label>
            <input type="text" class="form-control" [(ngModel)]="nomMarque" name="nomMarque" class="form-control">
            <button type="submit" (click)="rechercherMarques()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
    </form> -->

    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Marque en tapant</label>
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
    </form> -->


    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date Création</th>
                        <th>Téléphones</th>

                    </tr>
                </thead>
                <tbody *ngFor="let marque of telephones | filter: searchTerm">
                    <tr>
                        <td>{{marque.idMarque}}</td>
                        <td>{{marque.nomMarque}}</td>
                        <td>{{marque.prixMarque}}</td>
                        <td>{{marque.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{marque.telephone.nomTel}}</td>
                        <!--  <td><a class="btn btn-danger" (click)="supprimerMarque(marque)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateMarque',marque.idMarque]">Modifier</a></td> -->



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>